{% extends "layout_common.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<section id="main" class="container">
   <header>
      <h2>Confirm ServerPilot API keys</h2>
      <p>Submit keys to check if legit</p>
<center>
     <img src="{{ url_for('static', filename='images/ServerPilotAPIKey.png') }}" width="70%" height ="70%">
<div>Navigate here, click on <b>New API Key</b> and submit values below:</div></center>
   </header>
   <div class="row">
      <div class="12u">
         <section class="box">
        <form action="{{ url_for('confirmServerpilotAPIKeys') }}" method=post>
            <div class="row uniform 50%">
                <div class="8u 12u(mobilep)">
                    <input type="text" name="client_id" id="client_id" placeholder="Client ID">
                </div>
                 <div class="8u 12u(mobilep)">
                    <input type="text" name="api_key" id="api_key" placeholder="API Key">
                </div>
                <div class="4u 12u(mobilep)">
                    <input type="submit" value="Check API key">
                </div>

            </div>
        </form>
    </section>
      </div>
   </div>
</section>


    {% endblock %}