{% extends "layout.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <section id="banner">
        <h2>Confirm Digital Ocean API keys</h2>
    </section>
<center>
    <div>1. Navigate here, click on <b>Generate New Token</b>:</div>
    <img src="{{ url_for('static', filename='images/DigitalOceanAPIKey_1.PNG') }}">
    <div>2. Enter your preferred token name, click on <b>Generate Token</b>:</div>
    <img src="{{ url_for('static', filename='images/DigitalOceanAPIKey_2.PNG') }}">
    <div>3. Copy the key which should be located below token name (red area):</div>
    <img src="{{ url_for('static', filename='images/DigitalOceanAPIKey_3.PNG') }}">
    <div>4. Submit copied value below:</div></center>

    <section id="cta">
        <form action="{{ url_for('confirmDigitalOceanAPIKeys') }}" method=post>
            <div class="row uniform 50%">
                 <div class="8u 12u(mobilep)">
                    <input type="text" name="api_key" id="api_key" placeholder="API Key">
                </div>
                <div class="4u 12u(mobilep)">
                    <input type="submit" value="Check API key">
                </div>

            </div>
        </form>
    </section>

    {% endblock %}