{% extends "layout_common.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <section id="banner">
        <h2>Configure DigitalOcean</h2>
    </section>
<center>
</center>
   <div class="row">
      <div class="12u">
         <section class="box">
            <form action="{{ url_for('configureDigitalOcean') }}" method=post>
                <div class="row uniform 50%">
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="name" id="name" placeholder="Droplet Name" value="{{preset.name}}">
                    </div>
                    <div class="8u 12u(mobilep)">
                        <select name="region">
                            <option value="">Select droplet region...</option>
                            $regionoptions
                        </select>
                    </div>
                    <div class="8u 12u(mobilep)">
                        <select name="size">
                            <option value="">Select droplet size...</option>
                            $sizeoptions
                        </select>
                    </div>
                    <div class="8u 12u(mobilep)">
                        <select name="image">
                            <option value="">Select droplet image...</option>
                            $imageoptions
                        </select>
                    </div>
                    <div class="6u 12u(narrower)">
                        <input type="checkbox" id="backups" name="backups" value="1" {% if preset.backups==1 %} checked {% endif %}>
                        <label for="backups">Backups</label>
                    </div>
                    <div class="6u 12u(narrower)">
                        <input type="checkbox" id="ipv6" name="ipv6" value="1" {% if preset.ipv6==1 %} checked {% endif %}>
                        <label for="ipv6">IPV6</label>
                    </div>
                    <div class="6u 12u(narrower)">
                        <input type="checkbox" id="private_networking" name="private_networking" value="1" {% if preset.private_networking==1 %} checked {% endif %}>
                        <label for="private_networking">Private Networking</label>
                    </div>
                    <div class="6u 12u(narrower)">
                        <input type="checkbox" id="monitoring" name="monitoring" value="1" {% if preset.monitoring==1 %} checked {% endif %}>
                        <label for="monitoring">Monitoring</label>
                    </div>
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="volumesize" id="volumesize" placeholder="Volume size" value="{{preset.volumesize}}">
                    </div>
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="volumename" id="volumename" placeholder="Volume name" value="{{preset.volumename}}">
                    </div>
                    <div class="8u 12u(mobilep)">
                        <input type="text" name="tags" id="tags" placeholder="Tags" value="{{preset.tags}}">
                    </div>
                     <div class="8u 12u(mobilep)">
                        <input type="text" name="userdata" id="userdata" placeholder="User data" value="{{preset.userdata}}">
                    </div>
                    <div class="4u 12u(mobilep)">
                        <input type="submit" value="Confirm">
                    </div>
               </div>
            </form>
         </section>
      </div>
   </div>

    {% endblock %}