{% extends "layout_common.html" %}
{% block body %}
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<section id="main" class="container">
   <header>
      <h2>Select Preset</h2>
      <p>Select a configuration preset.</p>
   </header>
   <div class="row">
      <div class="12u">
         <section class="box">
            <form action="{{ url_for('preset_selection') }}" method=post>
               <div class="row uniform 50%">
                  <div class="12u">
                     <div class="select-wrapper">
                        <select name="preset_id">
                           {% for key, value in presets.items() %}
                           <option value="{{key}}">{{value}}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div class="4u 12u(mobilep)">
                    <input type="submit" value="Select Preset">
                </div>
               </div>
            </form>
         </section>
      </div>
   </div>
</section>
{% endblock %}